<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czs.dao.mapping.SysResourceMapper" >
  <resultMap id="BaseResultMap" type="com.czs.pojo.SysResource" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="leaf" property="leaf" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="out_url" property="outUrl" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, leaf, type, priority, pid, permission, status, url, out_url, pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.czs.pojo.SysResource" >
    insert into sys_resource (id, name, leaf, 
      type, priority, pid, 
      permission, status, url, 
      out_url, pic)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{leaf,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{pid,jdbcType=BIGINT}, 
      #{permission,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{url,jdbcType=VARCHAR}, 
      #{outUrl,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.czs.pojo.SysResource" >
    insert into sys_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="leaf != null" >
        leaf,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="outUrl != null" >
        out_url,
      </if>
      <if test="pic != null" >
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="leaf != null" >
        #{leaf,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="outUrl != null" >
        #{outUrl,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czs.pojo.SysResource" >
    update sys_resource
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="leaf != null" >
        leaf = #{leaf,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=BIGINT},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="outUrl != null" >
        out_url = #{outUrl,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czs.pojo.SysResource" >
    update sys_resource
    set name = #{name,jdbcType=VARCHAR},
      leaf = #{leaf,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      pid = #{pid,jdbcType=BIGINT},
      permission = #{permission,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      url = #{url,jdbcType=VARCHAR},
      out_url = #{outUrl,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>